@mixin all-states {
  &:hover, &:focus, &.selected {
    @content;
  }
}
.sprt,
[class|=icon],
%sprites {
  background: url("img/sprites.png") no-repeat 0 0;
}
/*
  [3.5.1] Main menu hover states
*/

.main-menu-a {
  @include all-states {
    @extend %sprites;
  }
}
.universo {
  @include all-states {
    background-position: 3px -37px;
  }
}
.guardaroupa {
  @include all-states {
    background-position: 2px -69px;
  }
}
.parque {
  @include all-states {
    background-position: -70px -39px;
  }
}
.encontre {
  @include all-states {
    background-position: 2px -100px;
  }
}
.lojinha {
  @include all-states {
    background-position: -108px -68px;
  }
}
/*
  [3.5.2] Icons sprites
*/

.search-submit {
  background-position: 4px -137px;
}
.icon-minhocco {
  background-position: -22px -140px;
  &:hover {
    background-position: -22px (-140-144)+px;
  }
}
.icon-facebook {
  background-position: -60px -140px;
  &:hover {
    background-position: -60px (-140-144)+px;
  }
}
.icon-pokeball {
  background-position: -99px -139px;
  &:hover {
    background-position: -99px (-139-144)+px;
  }
}
.icon-pinterest {
  background-position: -60px -179px;
  &:hover {
    background-position: -60px (-179-144)+px;
  }
}
.icon-youtube {
  background-position: -99px -179px;
  &:hover {
    background-position: -99px (-179-144)+px;
  }
}

.fechar {
  @extend %absolute;
  @extend %sprites;
  background-position: 0 -177px;
  width: 24px;
  height: 24px;
}
