/*
  Above The Fold styles TOC:

  [0]Global Styles
    [0.1]Browsers styles reset
    [0.2]Typography definitions
      [0.2.1]Font imports
      [0.2.2]Font sizes, paddings and weights
      [0.2.3]Text aligns
    [0.3]Global definitions
  [1]Components
    [1.1]Grids
      [1.1.1]Positions
      [1.1.2]Floats
      [1.1.3]Displays
  [2]Modules
    [2.1]page-header
    [2.2]page-main

 Linked stylesheet styles TOC:

  [3]Components
    [3.1]Buttons
    [3.2]List
    [3.3]Link
    [3.4]Table
    [3.5]Sprites
        [3.5.1] Main menu hover states
        [3.5.2] Icons sprites
  [4]Modules
    [4.1]Page footer
    [4.2]Banner
    [4.3]Pop-up
  [5]Pages
*/
/* -- Above The Fold styles -- */
/*
________________________________________________________________________________

  [0]Global Styles

  [0.1]Browsers styles reset
*/
/*
  CSS Reset
_________________________________________________________
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

img,
a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * Set default font family to sans-serif.
 * Prevent iOS text size adjust after orientation change, without disabling
 * user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *vertical-align: auto;
  /* 1 */
  *zoom: 1;
  /* 1 */
  *display: inline;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
  text-decoration: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/*
________________________________________________________________________________

  [0.2]Typography definitions
*/
/*
  [0.2.1]Font imports
*/
@font-face {
  font-family: "asap";
  src: url("../fonts/asap-regular.eot");
  src: url("../fonts/asap-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/asap-regular.woff2") format("woff2"), url("../fonts/asap-regular.woff") format("woff"), url("../fonts/asap-regular.ttf") format("truetype"), url("../fonts/asap-regular.svg#asapitalic") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "asap";
  src: url("../fonts/asap-italic.eot");
  src: url("../fonts/asap-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/asap-italic.woff2") format("woff2"), url("../fonts/asap-italic.woff") format("woff"), url("../fonts/asap-italic.ttf") format("truetype"), url("../fonts/asap-italic.svg#asapitalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "asap";
  src: url("../fonts/asap-bold.eot");
  src: url("../fonts/asap-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/asap-bold.woff2") format("woff2"), url("../fonts/asap-bold.woff") format("woff"), url("../fonts/asap-bold.ttf") format("truetype"), url("../fonts/asap-bold.svg#asapitalic") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "asap";
  src: url("../fonts/asap-bolditalic.eot");
  src: url("../fonts/asap-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/asap-bolditalic.woff2") format("woff2"), url("../fonts/asap-bolditalic.woff") format("woff"), url("../fonts/asap-bolditalic.ttf") format("truetype"), url("../fonts/asap-bolditalic.svg#asapitalic") format("svg");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: "fingerpaint";
  src: url("../fonts/fingerpaint.eot");
  src: url("../fonts/fingerpaint.eot?#iefix") format("embedded-opentype"), url("../fonts/fingerpaint.woff2") format("woff2"), url("../fonts/fingerpaint.woff") format("woff"), url("../fonts/fingerpaint.ttf") format("truetype"), url("../fonts/fingerpaint.svg#asapitalic") format("svg");
  font-weight: 700;
  font-style: normal; }
.pg-guardaroupa .nome-colecao {
  font-family: fingerpaint, sans-serif; }

/*
  [0.2.2]Font sizes, paddings and weights
*/
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0; }

.pg-guardaroupa .nome-colecao, .main-menu-a:hover, .main-menu-a:focus, .main-menu-a.selected, .sub-menu-a.selected, .sub-menu-a:hover, .body-footer h1, .newsletter .newsletter-submit {
  font-weight: 700; }

.small,
small {
  font-size: .8em; }

.base,
p,
ul,
ol {
  font-size: 1em; }

/*
  [0.2.3]Text aligns
*/
body, .popup {
  text-align: center; }

.encap, .body-header .encap div, .body-header .encap form, .body-footer .encap div, .body-footer .encap form {
  text-align: left; }

.body-header .encap, .body-footer .encap {
  text-align: right; }

.block-line {
  text-align: justify; }

/*
________________________________________________________________________________

  [0.3]Global definitions
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

:focus {
  outline-color: #ec008c;
  outline-offset: 3px; }

::-moz-selection {
  background: #ec008c;
  color: #fff; }

::selection {
  background: #ec008c;
  color: #fff; }

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body {
  background: #dcddde;
  font: 0.875em/1.3 asap, "helvetica neue", helvetica, arial, sans-serif;
  color: #6d6e71; }

div,
img,
video,
object {
  max-width: 100%; }

input {
  border: none;
  border-radius: .5em;
  padding: 4px 5px; }

/*
________________________________________________________________________________

  [1]Components

  [1.1]Grids
*/
/*
  [1.1.1]Positions
*/
.body-header {
  position: fixed; }

.logo, .sub-menu, .encap.sub-menu-list, .fechar, .body-footer .icon-minhocco, .popup, .popup-sprt {
  position: absolute; }

.encap, .main-menu-a, .pg-guardaroupa .body-main {
  position: relative; }

/*
  [1.1.2]Floats
*/
.newsletter .newsletter-submit, .pg-parque .homescreen .imprimir {
  float: right; }

.search-submit {
  float: left; }

/*
  [1.1.2]Borders and outlines
*/
.search-field, .newsletter .newsletter-email {
  outline: none; }

.encap {
  max-width: 880px;
  padding: 0 20px;
  margin: auto; }

.logo, .body-footer .icon-minhocco, .social-medias [class|=icon], .lb-data .lb-number, .pg-parque .homescreen .col a {
  display: block;
  direction: ltr;
  overflow: hidden;
  text-indent: -9999px; }

/*
  [1.1.3]Displays
*/
.block-line .col, .body-header .search, .main-navigation-bar, .main-menu, .newsletter, .site-map, .social-medias {
  display: inline-block;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top; }

.main-menu-label,
.main-menu-ctrl, .popup-ctrl {
  display: none; }

/*
  [1.1.4]columns classes
*/
.block-line {
  margin: 0 0 .7em; }
  .block-line .col {
    margin: 0;
    margin-left: 1em; }
  .block-line.colx1 .col,
  .block-line .col img {
    width: 100%; }
  .block-line .col:first-child, .block-line.col-1 .col {
    margin-left: 0; }
  .block-line.colx2 > .col {
    width: 49.5%;
    width: calc(50% - 0.5em); }
  .block-line.colx3 > .col {
    width: 32.58333%;
    width: calc(33.33333% - 0.66667em); }
  .block-line.colx4 > .col {
    width: 24%;
    width: calc(25% - 0.75em); }
  .block-line.colx5 > .col {
    width: 18.75%;
    width: calc(20% - 0.8em); }
  .block-line.colx6 > .col {
    width: 15.16667%;
    width: calc(16.66667% - 0.83333em); }

@media only screen and (max-width: 660px) {
  .block-line.colx3 > .col {
    width: 100%;
    margin-left: 0; } }
/*
________________________________________________________________________________

  [2]Modules

  [2.1]page-header
*/
.body-header {
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 99; }
  .body-header .search {
    margin-top: -2px; }

.logo {
  top: 0;
  bottom: 0;
  margin: auto; }

.logo {
  left: 20px;
  width: 118px;
  height: 35px; }

.main-navigation-bar {
  padding: 23px;
  max-width: 710px;
  max-width: calc(100% - 110px);
  overflow: auto; }

.main-menu-label {
  font-weight: 700;
  font-size: 1.25em; }

.main-menu-a {
  color: #000;
  padding: 10px;
  margin: -10px 2px 0; }
  .main-menu-a:hover, .main-menu-a:focus, .main-menu-a.selected {
    color: #fff;
    outline: none; }

.search-field {
  background: #dcddde;
  color: #000;
  width: 6.5em;
  -webkit-transition: width ease-out .5s;
  transition: width ease-out .5s; }
  .search-field:focus {
    width: 10em; }

.search-submit {
  background-color: transparent;
  box-sizing: content-box;
  border-radius: 100%;
  margin-right: 0.64286em;
  margin-left: 0.85714em;
  width: 1.42857em;
  height: 1.42857em;
  padding: 1.5px; }

.sub-menu {
  background-color: #dcddde;
  bottom: -2.6em;
  padding: .2em 0;
  width: 100%;
  height: 1.7em; }

.encap.sub-menu-list {
  padding: 0;
  text-align: left; }

.sub-menu-a,
.sub-menu-item::before {
  color: #6d6e71; }

.sub-menu-item::before {
  content: " ";
  padding: 0 1.28571em; }
.sub-menu-item:first-child {
  padding-left: 0; }
  .sub-menu-item:first-child::before {
    display: none; }

.sub-menu-a {
  font-size: 0.85714em;
  vertical-align: text-top; }

@media only screen and (max-width: 880px) {
  .body-header .encap, .main-navigation-bar {
    position: static; }

  .logo {
    margin-top: 15px; }

  .main-navigation-bar {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
    padding-top: 65px; }

  .main-menu {
    width: calc(100% - 7em); }

  .body-header .search {
    position: absolute;
    right: 20px;
    bottom: 18px; }

  .search-field:focus {
    width: 6.5em; } }
@media only screen and (max-width: 660px) {
  .main-navigation-bar {
    height: 0;
    overflow: hidden;
    padding-top: 45px;
    -webkit-transition: height ease-out .5s;
    transition: height ease-out .5s; }

  .main-menu-label {
    display: block;
    position: absolute;
    right: 20px;
    top: 38%; }

  .main-menu-ctrl:checked ~ .main-navigation-bar {
    height: 100%; }

  .main-menu-list {
    display: block;
    margin-top: 1.5em; }
    .main-menu-list li {
      margin: .5em 0; }

  .body-header .search {
    margin-top: 1em;
    position: static;
    width: 100%; }

  .search-field, .search-field:focus {
    width: calc(100% - 60px); } }
/*
________________________________________________________________________________

  [2.2]Page-main
*/
.body-main {
  background-color: #fff;
  margin-top: 4.85714em; }

@media only screen and (max-width: 880px) {
  .body-main {
    margin-top: 7.14286em; } }
@media only screen and (max-width: 660px) {
  .body-main {
    margin-top: 3.21429em; } }
body[class*=pg] .body-main {
  padding-top: 15px; }

body[class*=pg].pg-sub .body-main {
  padding-top: 51px;
  padding-top: calc(15px + 2.57143em); }

.pg-universo .body-main,
.pg-universo .body-header {
  border-bottom: 13px solid #80c242; }
.pg-universo .sub-menu-a.selected, .pg-universo .sub-menu-a:hover {
  color: #80c242; }

.pg-guardaroupa .body-main,
.pg-guardaroupa .body-header {
  border-bottom: 13px solid #792b84; }
.pg-guardaroupa .sub-menu-a.selected, .pg-guardaroupa .sub-menu-a:hover {
  color: #792b84; }

.pg-parque .body-main,
.pg-parque .body-header {
  border-bottom: 13px solid #ef5a28; }
.pg-parque .sub-menu-a.selected, .pg-parque .sub-menu-a:hover {
  color: #ef5a28; }

.pg-encontre .body-main,
.pg-encontre .body-header {
  border-bottom: 13px solid #24b7b8; }
.pg-encontre .sub-menu-a.selected, .pg-encontre .sub-menu-a:hover {
  color: #24b7b8; }

/*
________________________________________________________________________________

*/
/* -- Linked stylesheet styles -- */
/*
________________________________________________________________________________
  [3]Components

  [3.1]Buttons
*/
/*
________________________________________________________________________________

  [3.2]List
*/
nav ul,
nav ol {
  list-style: none; }
  nav ul li,
  nav ol li {
    display: inline-block;
    vertical-align: top; }

/*
________________________________________________________________________________

  [3.3]Link
*/
a:hover {
  text-decoration: none; }

/*
________________________________________________________________________________

  [3.4]Table
*/
/*
________________________________________________________________________________

  [3.5]Sprites
*/
.sprt,
[class|=icon],
.main-menu-a:hover,
.main-menu-a:focus,
.main-menu-a.selected,
.fechar,
.popup-sprt,
.lb-data .lb-number {
  background: url("img/sprites.png") no-repeat 0 0; }

/*
  [3.5.1] Main menu hover states
*/
.universo:hover, .universo:focus, .universo.selected {
  background-position: 3px -37px; }

.guardaroupa:hover, .guardaroupa:focus, .guardaroupa.selected {
  background-position: 2px -69px; }

.parque:hover, .parque:focus, .parque.selected {
  background-position: -70px -39px; }

.encontre:hover, .encontre:focus, .encontre.selected {
  background-position: 2px -100px; }

.lojinha:hover, .lojinha:focus, .lojinha.selected {
  background-position: -108px -68px; }

/*
  [3.5.2] Icons sprites
*/
.search-submit {
  background-position: 4px -137px; }

.icon-minhocco {
  background-position: -22px -140px; }

.icon-facebook {
  background-position: -60px -140px; }

.icon-pokeball {
  background-position: -99px -139px; }

.icon-pinterest {
  background-position: -60px -179px; }

.icon-youtube {
  background-position: -99px -179px; }

.fechar {
  background-position: 0 -177px;
  width: 24px;
  height: 24px; }

/*
________________________________________________________________________________
  [4]Components

  [4.1]Page footer
*/
.body-footer {
  background-color: #dcddde;
  font-size: 0.85714em;
  padding: 2.64286em 0 2.35714em; }
  .body-footer h1 {
    padding-bottom: .25em; }
  .body-footer .icon-minhocco {
    top: 0;
    left: 20px;
    width: 28px;
    height: 27px; }

.newsletter {
  margin-bottom: 2em;
  width: 12em; }
  .newsletter .newsletter-email {
    width: 100%; }
  .newsletter .newsletter-submit {
    color: #fff;
    background: #6d6e71;
    display: block;
    margin-top: 8px; }

.site-map {
  margin-left: 40px; }
  .site-map a {
    color: #6d6e71; }

.site-map-lvl1 {
  margin-left: 1.75em;
  padding-bottom: 1em; }
  .site-map-lvl1:first-child, .site-map-lvl1:nth-child(2) {
    margin-left: 0; }

.site-map-lvl2 {
  display: block;
  font-size: 0.83333em; }

.social-medias {
  margin-left: 30px; }
  .social-medias li {
    margin-left: 18px; }
    .social-medias li:first-child {
      margin-left: 0; }
  .social-medias [class|=icon] {
    width: 30px;
    height: 30px; }

@media only screen and (max-width: 880px) {
  .body-footer .encap .social-medias {
    margin-left: auto;
    width: 100%;
    margin: 2em auto 0;
    text-align: center; }

  .newsletter {
    margin-left: 40px; } }
@media only screen and (max-width: 660px) {
  .body-footer .encap .site-map {
    margin-left: 0;
    text-align: center;
    width: 100%; }

  .site-map-lvl1 {
    text-align: left; } }
@media only screen and (max-width: 419px) {
  .site-map-lvl1 {
    width: 45%;
    margin: 0; }
    .site-map-lvl1:first-child {
      width: 0; }

  .body-footer .encap .site-map {
    text-align: left; } }
/*
________________________________________________________________________________

  [4.2]Banner
*/
.fl-banner-holder, .fl-banner-list {
  position: relative; }
.fl-banner-radio, .fl-banner-arrow-prev, .fl-banner-arrow-next {
  position: absolute; }
.fl-banner-tc, .fl-banner-img {
  width: 100%; }
.fl-banner-holder {
  overflow: hidden; }
.fl-banner-list {
  left: 0;
  text-align: left;
  transition: left ease-in-out .75s; }
  .fl-banner-list li {
    display: block;
    float: left; }
.fl-banner-arrow-prev, .fl-banner-arrow-next {
  background: url("img/sprites.png") no-repeat;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 60px; }
.fl-banner-arrow-prev {
  left: 18px;
  background-position: 0 -219px; }
.fl-banner-arrow-next {
  right: 18px;
  background-position: -56px -219px; }
.fl-banner-radio {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2em; }
  .fl-banner-radio-btn {
    background: #fff;
    border-radius: 1em;
    display: block;
    margin-left: 12px;
    opacity: .4;
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    transition: opacity ease-in-out .75s; }
    .fl-banner-radio-btn:first-child {
      margin-left: 0; }
    .fl-banner-radio-btn.selected {
      opacity: 1; }
  .fl-banner-radio-input {
    display: none; }

/*  hide banner before the script  */
.ng-scope fl-banner ul,
.fl-banner-tc ul {
  height: 0;
  overflow: hidden; }

/*  Show banner if there is no js support or after the script */
fl-banner ul,
.fl-banner-tc .fl-banner-list {
  height: auto;
  overflow: visible; }

.fl-banner-holder {
  margin-bottom: .7em; }

/*
________________________________________________________________________________

  [X.1]Alternative Style 1
*/
.banner-masked .fl-banner-a {
  display: block;
  position: relative; }
.banner-masked .fl-banner-tc {
  width: 50%;
  margin-left: 25%; }
.banner-masked .banner-mask {
  background-size: contain;
  background-blend-mode: multiply;
  opacity: 1;
  position: absolute;
  transition: opacity ease-out .5s;
  width: 100%;
  height: calc(100% - 4px); }
.banner-masked .selected .banner-mask {
  opacity: 0; }

/*
________________________________________________________________________________

  [4.3]Pop-up
*/
.popup {
  background: rgba(140, 199, 85, 0.8);
  color: #fff;
  top: 0;
  right: 0;
  bottom: 51%;
  left: 31%;
  overflow: hidden;
  max-width: 0;
  max-height: 0;
  margin: auto;
  transition: all ease-in-out .5s; }

.popup-ctrl:checked ~ .popup {
  max-width: 33%;
  max-height: 60%;
  padding: 20px 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
.popup-ctrl:checked ~ .popup-sprt {
  background-color: transparent;
  background-position: 0 -177px;
  border-radius: 0;
  width: 24px;
  height: 25px; }

.popup-sprt {
  transition: all ease-in-out .5s;
  background-color: rgba(140, 199, 85, 0.8);
  background-position: 0 -155px;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  top: 22%;
  right: 34%; }

/*
________________________________________________________________________________

  [4.4]Lightbox
*/
/* Preload images */
body:after {
  content: url(../images/loading.gif);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: none; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  border: solid 16px white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 0; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(img/loading.gif) no-repeat; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) 10% 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) 95% 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding: 16px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  *zoom: 1;
  width: 100%;
  height: 100%; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  background-color: #dcddde;
  padding: 5px 0 3px;
  margin: 0 12px;
  width: calc(100% - 24px);
  float: left;
  text-align: center;
  line-height: 1.1em; }

.lb-data .lb-caption {
  color: #6d6e70;
  font-size: 13px;
  font-weight: 400;
  line-height: 1em; }

.lb-data .lb-number {
  display: block !important;
  position: absolute;
  bottom: -15px;
  right: -12px;
  width: 64px;
  height: 64px;
  background-position: -51px -365px; }

.lb-data .lb-close {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.pg-encontre .lb-outerContainer {
  border-color: #24b7b8; }
.pg-encontre .lb-nav a.lb-prev {
  background-image: url(img/esquerda-encontre.png); }
.pg-encontre .lb-nav a.lb-next {
  background-image: url(img/direita-encontre.png); }

.pg-parque .lb-outerContainer {
  border-color: #ef5a28; }
.pg-parque .lb-nav a.lb-prev {
  background-image: url(img/esquerda-brinc.png); }
.pg-parque .lb-nav a.lb-next {
  background-image: url(img/direita-brinc.png); }

/*
________________________________________________________________________________

  [5]Pages

  [5.1]Universo
*/
.mascotes {
  position: relative;
  width: 100%; }
  .mascotes input {
    display: none; }
  .mascotes label, .mascotes li {
    display: block;
    z-index: 9999; }
  .mascotes label, .mascotes .mascote-selected {
    position: absolute; }
  .mascotes .mascotes-bg img,
  .mascotes .mascote-selected {
    width: 100%; }
  .mascotes .mascote-selected {
    background-size: cover;
    height: 99%; }
  .mascotes .mascote-jacare {
    width: 14%;
    height: 17%;
    bottom: 14%;
    right: 11%; }
  .mascotes .mascote-arara {
    width: 13%;
    height: 45%;
    top: 9%;
    right: 4%; }
  .mascotes .mascote-onca {
    width: 13%;
    height: 31%;
    bottom: 37%;
    right: 25%; }
  .mascotes .mascote-preguica {
    width: 13%;
    height: 38%;
    top: 6%;
    left: 26%; }
  .mascotes .mascote-lobo {
    width: 14%;
    height: 34%;
    bottom: 14%;
    left: 8%; }
  .mascotes .mascote-tamandua {
    width: 14%;
    height: 34%;
    bottom: 9%;
    left: 38%; }
  .mascotes .mascote-rd-jacare:checked ~ .mascote-selected {
    background-image: url(../universo/images/Jacare.png); }
  .mascotes .mascote-rd-arara:checked ~ .mascote-selected {
    background-image: url(../universo/images/Arara.png); }
  .mascotes .mascote-rd-onca:checked ~ .mascote-selected {
    background-image: url(../universo/images/Onca.png); }
  .mascotes .mascote-rd-preguica:checked ~ .mascote-selected {
    background-image: url(../universo/images/Preguica.png); }
  .mascotes .mascote-rd-lobo:checked ~ .mascote-selected {
    background-image: url(../universo/images/Lobo-guara.png); }
  .mascotes .mascote-rd-tamandua:checked ~ .mascote-selected {
    background-image: url(../universo/images/Tamandua.png); }

/*
________________________________________________________________________________

  [5.2]Guarda Roupas
*/
.pg-guardaroupa .fl-banner-holder,
.pg-guardaroupa .banner-mask {
  background-color: #792b84; }
.pg-guardaroupa h1 {
  font-size: 1.2em;
  padding-bottom: 1em; }
.pg-guardaroupa p {
  font-size: 1.14286em; }

/*
________________________________________________________________________________

  [5.3]Brincadeiras
*/
.pg-parque .homescreen .block-line {
  background: url(img/Rapport_Brincadeiras.png) #24b7b8; }
.pg-parque .homescreen .col:first-child {
  text-align: right; }
.pg-parque .homescreen .col a {
  background-size: contain;
  margin: 45px .5em; }
.pg-parque .homescreen .imprimir {
  background-image: url(https://minhocco-flira.c9.io/wordpress/wp-content/uploads/2015/07/Para-imprimir.png);
  width: 259px;
  height: 258px;
  text-align: left; }
.pg-parque .homescreen .pintar {
  background-image: url(https://minhocco-flira.c9.io/wordpress/wp-content/uploads/2015/07/Para-pintar.png);
  width: 286px;
  height: 283px; }

/*
________________________________________________________________________________

  [5.4]Guarda Roupas
*/
.pg-encontre .body-main h1, .form-encap .contato-enviar, .form-encap .mensagem {
  font-family: 'fingerpaint', sans-serif; }

.address .arara, .form-encap .onca {
  background-image: url("img/sprites-contato.png");
  background-repeat: no-repeat;
  position: absolute; }

.pg-encontre .body-main {
  color: white; }
  .pg-encontre .body-main h1 {
    font-size: 1.14286em;
    padding: 0 0 1em; }
  .pg-encontre .body-main h2 {
    font-weight: 700;
    padding-bottom: 1em; }

.address .panel-left, .form-encap {
  padding: 31px 63px; }

.address h1, .address h2, .form-encap h1, .form-encap h2 {
  font-size: 1.42857em;
  text-transform: lowercase; }

.address address {
  padding-bottom: 2em; }
.address .panel-left, .address .panel-right {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
  height: 334px; }
.address .panel-left {
  position: relative;
  background: #24b7b8; }
.address .address-map {
  width: 100%;
  height: 334px; }
.address .arara {
  background-position: bottom right;
  right: 0;
  bottom: 0;
  width: 218px;
  height: 189px; }

.form-encap {
  background: url(img/rapport-contato.png) #792b84;
  position: relative;
  text-align: left; }
  .form-encap label {
    font-size: 1.14286em;
    width: 100%; }
  .form-encap input,
  .form-encap select,
  .form-encap textarea {
    -webkit-appearance: none;
    background: #24b7b8;
    border: none;
    border-radius: 0;
    padding: .5em 1em;
    resize: none;
    width: 100%; }
    .form-encap input:focus,
    .form-encap select:focus,
    .form-encap textarea:focus {
      outline: none; }
  .form-encap option,
  .form-encap .contato-enviar {
    background: #1f9999; }
  .form-encap .contato-form {
    position: relative;
    width: 420px; }
  .form-encap .contato-enviar {
    font-size: 1.42857em;
    position: absolute;
    right: -8em;
    bottom: .4em;
    padding: 21px 12px;
    width: initial; }
  .form-encap .onca {
    right: 40px;
    bottom: 0;
    width: 406px;
    height: 310px; }
  .form-encap .mensagem {
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 20px;
    text-align: center;
    width: 200px;
    height: 64px; }
    .form-encap .mensagem a {
      color: #fff; }

.grid-onde {
  padding: 0 1em; }
  .grid-onde .col {
    height: 120px; }
  .grid-onde .local {
    background: #24b7b8; }
    .grid-onde .local h1 {
      cursor: pointer;
      padding: 50px;
      padding: calc(60px - .65em);
      text-align: center; }
    .grid-onde .local.selected, .grid-onde .local.selected:hover {
      background: #792b84; }
    .grid-onde .local.selected .grid-onde-content {
      background-color: rgba(121, 43, 130, 0.9);
      display: block;
      padding: 33px;
      position: absolute;
      top: 239px;
      left: 0;
      width: 100%;
      height: 261px;
      height: calc(240px + 1.5em); }
    .grid-onde .local:hover {
      background: #b74fc6; }
    .grid-onde .local address {
      font-size: 0.85714em; }
    .grid-onde .local .fechar {
      top: 1em;
      right: 1em; }
  .grid-onde .block-line:nth-child(2) .grid-onde-content {
    top: 369px; }
  .grid-onde .block-line:nth-child(3) .grid-onde-content {
    top: 118px; }
  .grid-onde .block-line:nth-child(4) .grid-onde-content {
    top: 247px; }
  .grid-onde .placeholder {
    background: #62dfe0; }
  .grid-onde-content {
    display: none; }

/*# sourceMappingURL=main.css.map */
