.mascotes {
  position: relative;
  width: 100%;
  input {
    display: none;
  }
  label, li {
    display: block;
    z-index: 9999;
  }
  label, .mascote-selected {
    position: absolute;
  }
  .mascotes-bg img,
  .mascote-selected {
    width: 100%;
  }
  .mascote-selected {
    background-size: cover;
    height: 99%;
  }
  .mascote-jacare {
    width: 14%;
    height: 17%;
    bottom: 14%;
    right: 11%;
  }
  .mascote-arara {
    width: 13%;
    height: 45%;
    top: 9%;
    right: 4%;
  }
  .mascote-onca {
    width: 13%;
    height: 31%;
    bottom: 37%;
    right: 25%;
  }
  .mascote-preguica {
    width: 13%;
    height: 38%;
    top: 6%;
    left: 26%;
  }
  .mascote-lobo {
    width: 14%;
    height: 34%;
    bottom: 14%;
    left: 8%;
  }
  .mascote-tamandua {
    width: 14%;
    height: 34%;
    bottom: 9%;
    left: 38%;
  }
  .mascote-rd-jacare:checked  ~ .mascote-selected {
    background-image: url(../universo/images/Jacare.png);
  }
  .mascote-rd-arara:checked  ~ .mascote-selected {
    background-image: url(../universo/images/Arara.png);
  }
  .mascote-rd-onca:checked  ~ .mascote-selected {
    background-image: url(../universo/images/Onca.png);
  }
  .mascote-rd-preguica:checked  ~ .mascote-selected {
    background-image: url(../universo/images/Preguica.png);
  }
  .mascote-rd-lobo:checked  ~ .mascote-selected {
    background-image: url(../universo/images/Lobo-guara.png);
  }
  .mascote-rd-tamandua:checked  ~ .mascote-selected {
    background-image: url(../universo/images/Tamandua.png);
  }
}
